<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
      
    </startup>
  <connectionStrings>
    <add name="HtcEfDbContext" connectionString="Data Source=(localdb)\v11.0;Initial Catalog = HTCDatabase;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>